{% extends "layout.twig" %}

{% block content %}
    <h1>Add Project</h1>
    {% if saved != null %}
		<div class="alert alert-primary">
			{{ getMessage }}
		</div>
	{% endif %}
	{% if error != null %}
		<div class="alert alert-danger">
			{{ getMessage }} <br>
            {{ errorReporting }}
		</div>
	{% endif %}
    <form action="/projects/add" method="post" enctype="multipart/form-data">
    <label>
        Title:
    </label><br>
    <input name="title" type="text"><br><br>
    <label>
        Description:
    </label><br>
    <input name="description" type="text"><br><br>
    <label>
        Business logo:
    </label><br>
    <input name="logo" type="file"><br><br>
    <button type="submit">Send</button>
    </form><br>
    {% if userId %}
    <a href="/admin">Go to administration</a>
    {% endif %}
{% endblock %}

