{% extends "layout.twig" %}

{% block content %}

<h1>Add User</h1>
    {% if saved != null %}
		<div class="alert alert-primary">
			{{ getMessage }}
		</div>
	{% endif %}
	{% if error != null %}
		<div class="alert alert-danger">
			{{ getMessage }} <br>
            {{ errorReporting }}
		</div>
	{% endif %}
    <form action="/phpbasics/curso/users/add" method="post">
    <label>
        Name
    </label><br>
    <input name="name" type="text"><br><br>
    <label>
        Email:
    </label><br>
    <input name="email" type="text"><br><br>
    <label>
        Password:
    </label><br>
    <input name="password" type="password"><br><br>
    <button type="submit">Create user</button>
    </form>
{% endblock %}